name: Build Windows App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Download source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Nativefier
        run: npm install -g nativefier

      - name: Build Windows App
        run: |
          nativefier "file:///${{ github.workspace }}/index.html" ^
            --name "Song Nhac Visualizer" ^
            --platform windows ^
            --arch x64

      - name: Upload App
        uses: actions/upload-artifact@v4
        with:
          name: Song-Nhac-Windows-App
          path: "*-win32-x64"

